/* Home.css */
.home {
    text-align: center;
  }
  
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .home-image {
    max-width: 150px;
    border-radius: 10px;
  }
  
  .home-text {
    flex: 1;
    padding: 0 20px;
    text-align: right;
  }
  